# Xcode
*.xcworkspace
*.xcuserstate
*.xcscmblueprint
xcuserdata/
DerivedData/
build/

# Swift/Obj-C
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# SwiftData / SQLite (used under the hood)
*.sqlite
*.sqlite-shm
*.sqlite-wal

# Swift Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
# Package.pins
# Package.resolved
# Packages/
# .swiftpm

# CocoaPods
# Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
